body{
    background: url(/img/background.png);
    background-size:auto;
}


.top{
    background-color: white;
    border: solid black;
}
.map{
    margin-top: 3px;
    position: relative;
}
.logo{
    width: 15%;
    height: 15%;
    margin-left: 1%;
}
.camaraIcon{
    font-size: 200%;
    position: relative;
    left: 20%;
    bottom: 220px;
}
#camera_container{
    background-color: white;
    margin-top: 3px;
    border: solid black;
    text-align: center;
    position: relative;
}
.lightIcon{
    font-size: 35px;
    position: absolute;
    text-align: center;
}
#lightLivingRoom{
    left: 550px;
    bottom: 640px;
    position: absolute;
}
#lightkitchen{
    left: 150px;
    bottom: 640px;
    position: absolute;
}
#lightRoom3{
    left: 1000px;
    bottom: 580px;
    position: absolute;
}
#lightBathRoom2{
    left: 800px;
    bottom: 110px;
    position: absolute;
}
#lightBathRoom1{
    left: 1120px;
    bottom: 110px;
    position: absolute;
}
#lightRoom2{
    left: 1300px;
    bottom: 580px;
    position: absolute;
}
#lightMainRoom{
    left: 1525px;
    bottom: 230px;
    position: absolute;
}
.apartment{
    height: 100%;
    width: 100%;
    position: relative;
}
#voz{
    margin-top: 5px;
}
video{
    position:relative;
    height: 0% !important;
    width: 0% !important; 
    text-align: center !important; 
}
canvas{
    display: inline;
}
#defaultCanvas0{
    position: relative;
    margin-top: 3px;
    height: 40% !important;
    width: 40% !important;
}
#mainDoor{
    position: absolute;
    top: 860px;
    left: 522px;
    width: 6.5%;
    height: 5px;
    background-color: rgb(140, 77, 9);
    border: solid black;
}
#bathroom2Door{
    position: absolute;
    top: 795px;
    left: 724px;
    width: 3.5%;
    height: 5px;
    background-color: rgb(140, 77, 9);
    border: solid black;
}
#room3Door{
    position: absolute;
    top: 715px;
    left: 1040px;
    width: 3.8%;
    height: 5px;
    background-color: rgb(140, 77, 9);
    border: solid black;
}
#room2Door{
    position: absolute;
    top: 715px;
    left: 1220px;
    width: 3.8%;
    height: 5px;
    background-color: rgb(140, 77, 9);
    border: solid black;
}
#mainRoomDoor{
    position: absolute;
    top: 755px;
    left: 1403px;
    width: 3.2%;
    height: 5px;
    background-color: rgb(140, 77, 9);
    border: solid black;
    rotate: 90deg;
}
#bathroom1Door{
    position: absolute;
    top: 900px;
    left: 1215px;
    width: 3.2%;
    height: 5px;
    background-color: rgb(140, 77, 9);
    border: solid black;
    rotate: 90deg;
}
#windowLivingRoom{
    position: absolute;
    top: 43px;
    left: 312px;
    width: 17.7%;
    height: 5px;
    background-color: rgb(143, 225, 255);
    border: solid black;
}
#windowRoom3{
    position: absolute;
    top: 293px;
    left: 987px;
    width: 6.7%;
    height: 5px;
    background-color: rgb(143, 225, 255);
    border: solid black;
}
#windowRoom2{
    position: absolute;
    top: 293px;
    left: 1170px;
    width: 9.7%;
    height: 5px;
    background-color: rgb(143, 225, 255);
    border: solid black;
}
#windowMainRoom{
    position: absolute;
    top: 824px;
    left: 1775px;
    width: 7.6%;
    height: 5px;
    background-color: rgb(143, 225, 255);
    border: solid black;
    rotate: 90deg;
}