.top{
    border: solid black;
}
.logo{
    width: 15%;
    height: 15%;
    margin-left: 1%;
}
.camaraIcon{
    font-size: 200%;
    position: relative;
    left: 25%;
    bottom: 240px;
}
.apartment{
    height: 100%;
    width: 100%;
    position: relative;
}
#voz{
    margin-top: 5px;
}
video{
    height: 300px;
}
.camera{
    text-align: center;
    margin-top: 5px;
    border: solid black;
}

#mainDoor{
    position: relative;
    top: -215px;
    left: 27.5%;
    width: 6.5%;
    height: 9px;
    background-color: rgb(140, 77, 9);
    border: solid black;
    rotate: 0deg;
}
#windowLivingRoom{
    position: relative;
    left: 16.8%;
    top: -815px;
    width: 17.7%;
    height: 5px;
    background-color: rgb(143, 225, 255);
    border: solid black;
}
