<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="prueba.css">
    
    <title>Prueba</title>
</head>
<body>
    <div>
        <div class="cameraWrapper">
            <div id="camera_container">
                <video id="v" autoplay="true"></video>
            </div>
            <button id="cameraBtn" class="bi bi-camera-reels-fill">Activar</button>
        </div>
    </div>
    <div class="row">
            <div id="camera_container" class="col-md-12">
                <i class="bi bi-camera-reels-fill camaraIcon"></i>
                <video id="v" autoplay="true"></video>
            </div>
        </div>
</body>
<script src="videoP.js"></script>

<script src="https://unpkg.com/ml5@0.7.1/dist/ml5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
</html>