<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="logo.ico"/>
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>SeaGuide</title>
</head>
<body>
    <header>
        <img class="logo" src="SeaGuideLogo.png" alt="">
        <nav class="nav_bar">
            <a href="home.hbs" class="nav_item">Inicio</a>
            <a href="#aboutUs" class="nav_item">Sobre Nosotros</a>
            <a href="#contact" class="nav_item">Contacto</a>
            <a href="login"><button class="btn-login">Login</button></a>
        </nav>
    </header>
    <div class="wrapper">
        <div class="image">
            
        </div>
        <div class="aboutUs" id="aboutUs">
            <p>aboutUs</p>
        </div>
        <div class="contact" id="contact">
            <p>contact</p>
        </div>
    </div>
</body>
</html>