<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="logo.ico"/>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>SeaGuide</title>
</head>
<body>
    <header>
        <img class="logo" src="SeaGuideLogo.png" alt="">
        <nav class="nav_bar">
            <a href="/" class="nav_item">Inicio</a>
            <a href="#aboutUs" class="nav_item">Sobre Nosotros</a>
            <a href="#contact" class="nav_item">Contacto</a>
            <a href="login"><button class="btn-login">Login</button></a>
        </nav>
    </header>
    <div class="wrapper">
        <div class="image">
            
        </div>
        <div class="aboutUs" id="aboutUs">
            <p>aboutUs</p>
        </div>
        <div class="contact" id="contact">
            <p>contact</p>
        </div>
    </div>
    <footer class="bottom">
        <div class="group1">
            <div class="box">
                <figure>
                    <img class="logo" src="SeaGuideLogo.png">
                </figure>
            </div>
            <div class="box">
                <h2>Sobre Nosotros</h2>
                <p>Somos una compa침ia asociada con la fundaci칩n Inclusi칩n y Dignidad que busca mejorar la seguidad de las personas que presentes una condici칩n de movilidad reducida</p>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="socials">
                    <a href="#" class="bi bi-facebook"></a>
                    <a href="#" class="bi bi-instagram"></a>
                </div>
            </div>
        </div>
        <div class="group2">
            <small>&copy; 2023 <b>SeaGuide</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>