*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: block;
    /*justify-content: center;
    align-items: center;*/
    min-height: 100vh;
    background: url('https://img.freepik.com/free-vector/empty-underwater-blue-shine-abstract-background-light-bright-clean-ocean-sea_1284-42065.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(224, 246, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    height: 12%;
    width: 12%;
}
.nav_bar .nav_item{
    position: relative;
    font-size:  1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    color: black;
}
.nav_bar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition:  .3s;
}
.nav_bar a:hover::after{
    transform: scaleX(1);
}
.nav_bar .btn-login{
    width: 130px;
    height: 40px;
    background: transparent;
    border: solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 50px;
    font-size: 20px;
    transition: .3s;
}
.nav_bar .btn-login:hover{
    background: #fff;
    width: 150px;
    height: 50px;
    font-size: 25px;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 440px;
    background-color: #f1f9ff7a;
    border: 5px solid rgba(255,255,255, .5);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.image{
    position: absolute;
}
/*Footer*/
footer{
    bottom: 0;
    position: absolute;
}
.bottom{
    width: 100%;
    height: 20px;
    background-color: #0a141d;
}
.bottom .group1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 50px 45px 40px 20px;
    background-color:#0a141d;
}
.bottom .group1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}
.bottom .group1 .box figure img{
    width: 250px;
    height: 60px;
}
.bottom .group1 .box h2{
    color: #fff;
    margin-top: 25px;
    font-size: 20px;
}
.bottom .group1 .box p{
    color: #fff;
    margin-top: 10px;
}
.bottom .group1 .socials a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.bottom .group1 .socials a:hover{
    color: aqua;
}
.bottom .group2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.bottom .group1 small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .bottom .group1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}